<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Muslim Tech Expo is a platform for Muslim tech professionals, entrepreneurs, and aspiring techies to connect in the world of tech">
    <link rel="shortcut icon" href="../Image/MTE PORTRAIT.svg" type="image/x-icon">
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="FAQ.css">
    <title>FAQs</title>
</head>
<body>
    <header class="header--div">
        <nav>
            <a href="/">
                <div class="mte--logo">
                    <img src="../Image/MTE PORTRAIT.svg" alt="">
                </div>
            </a>
            <ul class="nav--list">
                <a href="./about.html">
                    <li>about</li>
                </a>
                <a href="./speakers.html">
                    <li>speakers</li>
                </a>
                <a href="./team.html"><li>team</li></a>
                <a href="https://mte-merch.popu.shop/products/" target="_blank">
                    <li>shop</li>
                </a>
            </ul>
            <div>
                <a href="https://tix.africa/discover/mte001" target="_blank">
                    <button class="buy--tickets green mobile">buy tickets</button>
                </a>
            </div>
            <div>
                <ion-icon name="reorder-three-outline" class="hamburger"></ion-icon>
            </div>
            <div class="nav--menu--mobile">
                <div>
                    <ion-icon name="close-circle-outline" class="close--menu--icon"></ion-icon>
                </div>
                <ul class="nav--list--mobile">
                    <a href="./about.html">
                        <li>about</li>
                    </a>
                    <a href="./speakers.html">
                        <li>speaker</li>
                    </a>
                    <a href="./team.html">
                        <li>team</li></a>
                    <a href="https://mte-merch.popu.shop/products/" target="_blank">
                        <li>shop</li>
                    </a>
                </ul>
                <div>
                    <a href="https://tix.africa/discover/mte001" target="_blank">
                        <button class="buy--tickets green">buy tickets</button>
                    </a>
                </div>
            </div>
        </nav> 
    </header>
    <section class="faq--section">
        <h1 class="about--header">Got <span style="color: #26B166; font-weight: 800; font-family: 'Monument Extended';">questions?</span></h1>
        <h1 class="about--header">We are here to help!</h1>
        <p class="faq--paragraph">Everything you need to know about Muslim Tech Expo 1.0.</p> 
        <p class="faq--paragraph">Can't find the answer to a question you have? No worries, just click 'I've got a question'</p>
        <a href="mailto:muslimtechexpo@gmail.com">
            <button class="reserve--spot question--button">i've got a question</button>
        </a>
        <details>
            <summary>What is MTE?</summary>
            <p>Simple. We're here to bridge the gap between advancing your tech career and deepening your faith. We're that dynamic platform where you can connect, explore, and gain invaluable insights from leaders in the Muslim tech industry. And it's no wonder some refer to us as the "Faith-Tech Connectors" – because they're absolutely right.</p>
        </details>
        <hr>
        <details>
            <summary>Can I attend the expo without registering?</summary>
            <p>Oh, we're afraid not. Registration is as compulsory as it is important. To secure your spot, head on now to <a href="https://tix.africa/discover/mte001" target="_blank" style="text-decoration: underline;">Tickets</a>.</p>
        </details>
        <hr>
        <details>
            <summary>Is it only open to Muslims?</summary>
            <p>Nope. The Muslim Tech Expo (MTE) is open to all tech enthusiasts, regardless of their religious or cultural backgrounds. While our esteemed speakers will all be Muslims, our mission is to create an inclusive and diverse platform where everyone can connect, learn, and thrive. So, whether you're Muslim or not, you're welcome to join us and be part of the tech community at MTE.</p>
        </details>
        <hr>
        <details>
            <summary>How can I get a Merch?</summary>
            <p>Glad you're considering this! Head on to our <a href="https://mte-merch.popu.shop/products/" target="_blank" style="text-decoration: underline;">Merch Shop</a> to place an order for your preferred items. You can either get it shipped to you or get it picked up at the expo venue.</p>
        </details>
        <hr>
        <details>
            <summary>When and where is the expo holding?</summary>
            <p>It'll be held on Sunday, November 12, 2023, at the <a href="https://www.google.com/maps/dir/7.4553818,3.8929962/zone+tech+park/@7.0016199,3.3059695,10z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0x103b8d73a658782b:0x7a1de11d89cccc84!2m2!1d3.37684!2d6.5514308?hl=en&entry=ttu" target="_blank" style="text-decoration: underline;">Zone Tech Park, Gbagada</a></p>
        </details>
        <hr>
        <details>
            <summary>Can I register as an exhibitor?</summary>
            <p>Yes, you can. Please send an email to <a href="mailto:muslimtechexpo@gmail.com" style="text-decoration: underline;">muslimtechexpo@gmail.com</a> expressing your interest and we’ll share the next steps with you.</p>
        </details>
        <hr>
        <details>
            <summary>Can I register at the venue?</summary>
            <p>Unfortunately, we do not encourage registration at the venue because our seats might be filled. We would advise that you save your seat beforehand</p>
        </details>
        <hr>
        <details>
            <summary>Is there an agenda or brochure for the event?</summary>
            <p>Yup. An e-brochure will be made available to all registered attendees.</p>
        </details>
        <hr>
        <details>
            <summary>How can my company or I be a sponsor?</summary>
            <p>We'd love and appreciate that. Kindly send an email to us via <a href="mailto:sponsorship@muslimtechexpo.com" style="text-decoration: underline;">sponsorship@muslimtechexpo.com</a> and we'll be sure to get in touch with you promptly to discuss sponsorship opportunities.</p>
        </details>
        <hr>
    </section>
    <div class="got--questions">
        <p class="got--questions--text">
            Got questions? Send us an <a href="mailto:muslimtechexpo@gmail.com" style="text-decoration: underline; color: #FFFFFF;">email</a>. 
        </p>
       </div>
       <footer class="footer">
        <div class="footer--top">
            <aside class="footer--top--left" style="color: #6D6D6D;">
                <div class="mte--footer--logo">
                    <div>
                        <img src="../Image/MUSLIM small.svg" alt="">
                    </div>
                    <div>
                        <img src="../Image/TECH small.svg" alt="">
                        <img src="../Image/EXPO small.svg" alt="" style="margin-left: 10px;">
                    </div>
                </div>
            </aside>
            <div>
                <a href="https://tix.africa/discover/mte001" target="_blank">
                    <button class="buy--tickets green">buy tickets</button>
                </a>
            </div>
            <aside class="footer--top--right">
                <div class="become--volunteer">
                    <a href="https://muslimtechbytes.substack.com" target="_blank">
                        <p>Subscribe to our newsletter</p>
                    </a>
                    <a href="https://tally.so/r/3XoJvd" target="_blank">
                        <p>Become a sponsor</p>
                    </a>
                </div>
                <div class="footer--list">
                    <a href="./team.html">
                        <p>Team</p>
                    </a>
                    <a href="./FAQ.html">
                        <p>FAQs</p>
                    </a>
                </div>
            </aside>
        </div>
        <hr>
        <div class="footer--bottom">
            <div class="footer--bottom--left">
                <p>Powered by: </p> 
                <div>
                    <img src="../Image/barn--logo.png" alt="">
                </div>
            </div>
            <div class="copyright--text">
                <p>Copyright &copy; 2023 Muslim Tech Expo</p>
                <p>All rights reserved</p>
            </div>
            <div class="footer--bottom--logos">
                <a href="https://instagram.com/muslimtechexpo?igshid=MzRlODBiNWFlZA=="  target="_blank">
                    <div class="instagram--logo">
                        <ion-icon name="logo-instagram"></ion-icon>
                    </div>
                </a>
                <a href="https://www.linkedin.com/company/muslim-tech-expo/"  target="_blank">
                    <div class="linkedIn--logo">
                        <ion-icon name="logo-linkedin"></ion-icon>
                    </div>
                </a>
              <a href="https://twitter.com/muslimtechexpo?s=21&t=KfzMaFQ4IrAtkb14UKtV6g"  target="_blank">
                <div class="twitter--logo">
                    <ion-icon name="logo-twitter"></ion-icon>
                </div>
              </a>
              <a href="https://www.tiktok.com/@muslimtechexpo">
                  <div class="tiktok--logo">
                      <ion-icon name="logo-tiktok"></ion-icon>
                  </div>
              </a>
                <a href="https://www.youtube.com/channel/UCr6B9ytPxQomKGckCEOhrXQ">
                    <div class="youtube--logo">
                        <ion-icon name="logo-youtube"></ion-icon>
                    </div>
                </a>
            </div>
        </div>
       </footer>
       <script src="../script.js"></script>
       <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>
