.header--div{
    background-image: none;
}
nav ul{
    color: #000000;
}
a{
   color: #000000;
   text-decoration: none;
}
.header--div, .grid--section{
    padding: 3em 7em;
}
.grid--text--p{
    color:#6D6D6D;
    text-align: center;
    margin: 1em 0.5em;
}
.grid--header{
    font-size: 3.5em;
    text-align: center;
    font-family: 'Monument Extended';
    color: #383838;
    font-weight: 700;
}
.grid--layout{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
}
@media screen and (max-width: 950px){
    .header--div, .footer, .got--questions{
        padding: 3rem 4rem;
    }
}
@media screen and (max-width: 650px) {
    .header--div, .footer, .got--questions{
        padding: 1rem;
    }
    ion-icon.hamburger{
        display: block;
        color: #000000;
    }
    .grid--section{
        padding: 2rem;
    }
    .grid--layout{
        grid-template-columns: 1fr;
    }
}
