.header--div{
    background-image: none;
}
nav ul{
    color: #000000;
}
a{
   color: #000000;
   text-decoration: none;
}
.header--div, .grid--section{
    padding: 3em 7em;
}
.buy--tickets.green{
    color: #26B166;
    border: 0.863622px solid #26B166;
}
.grid--layout{
    display: grid;
    margin: 5rem 0;
    grid-template-columns:  repeat(4, 1fr);
    grid-gap: 80px;
}
.grid--text--p{
    color:#6D6D6D;
    text-align: center;
    margin: 1em 0.5em;
}
.team--row{
    display: grid;
    grid-gap: 80px;
}
.team--row.one{
    margin-top: 5rem;
}
.team--details{
    height: fit-content;
    position: relative;
}
.team--details img{
    position: relative;
    border: 1px solid #FFB800;
    object-fit: cover;
    border-radius: 0.75rem 5.25rem 0.75rem 0.75rem;
    box-shadow: 10px 10px 0px 6px  #FFB800;
}
.team--member h3{
    font-family: 'Monument Extended';
    text-transform: capitalize;
}
.team--member{
    background: linear-gradient( rgba(38, 177, 102, 0.07) , rgba(38, 177, 102, 0.3), rgba(38, 177, 102, 1));
    padding: 1rem ;
    position: absolute;
    bottom: 0;
    left: 0;
    color: #FFFFFF;
    width: 100%;
    border-radius: 0 0 0.75rem 0.75rem;
}
.grid--header{
    font-size: 3.5em;
    text-align: center;
    font-family: 'Monument Extended';
    color: #383838;
    font-weight: 700;
}
.marquee{
    margin: 5rem 0;
}
.footer a{
    color: #FFFFFF;
}
ion-icon.team--linkedin{
    background-color: #FFFFFF;
    color: #26B166;
    margin-bottom: .5rem;
}
@media screen and (max-width: 1250px){
    .header--div, .footer, .grid--section, .got--questions{
        padding: 3rem 4rem;
    }
    .grid--layout, .team--row{
        grid-gap: 40px;
    }
    .team--row.one{
        margin-top: 4rem;
    }
    .team--member h3{
        font-size: 1rem;
    }
    .no--display--mobile, .no--display--tablet{
        display: none;
    }
}
@media screen and (max-width: 650px) {
    .header--div, .footer, .got--questions{
        padding: 1rem;
    }
    .buy--ticket{
        display: none;
    }
    ion-icon.hamburger{
        display: block;
        color: #000000;
    }
    .grid--header{
        font-size: 2em;
    }
    .grid--section{
        padding: 2rem;
    }
    .grid--layout{
        grid-template-columns: 1fr;
    }
    .grid--layout, .team--row{
        grid-gap: 40px;
    }
    .team--row.one{
        margin-top: 0rem;
    }
    .team--member h3{
        font-size: 1rem;
    }
}
@media screen and (min-width: 500px) and (max-width: 950px) {
    .header--div, .footer, .got--questions{
        padding: 1rem;
    }
    .grid--layout{
        grid-template-columns: repeat(2, 1fr);
    }
    .team--row.one{
        margin-top: 0rem;
    }
}
