<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Muslim Tech Expo is a platform for Muslim tech professionals, entrepreneurs, and aspiring techies to connect in the world of tech">
    <meta property="og:image" content="Image\MTE PORTRAIT.svg" />
    <link rel="shortcut icon" href="../Image/MTE PORTRAIT.svg" type="image/x-icon">
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="team.css">
    <title>Meet The Team</title>
</head>
<body>
    <header class="header--div">
        <nav>
            <a href="/">
                <div class="mte--logo">
                    <img src="../Image/MTE PORTRAIT.svg" alt="">
                </div>
            </a>
            <ul class="nav--list">
                <a href="./about.html">
                    <li>about</li>
                </a>
                <a href="./speakers.html">
                    <li>speakers</li>
                </a>
                <a href="./team.html">
                    <li>team</li>
                </a>
                <a href="https://mte-merch.popu.shop/products/" target="_blank">
                    <li>shop</li>
                </a>
            </ul>
            <div>
                <a href="https://tix.africa/discover/mte001" target="_blank">
                    <button class="buy--tickets green mobile">buy tickets</button>
                </a>
            </div>
            <div>
                <ion-icon name="reorder-three-outline" class="hamburger"></ion-icon>
            </div>
            <div class="nav--menu--mobile">
                <div>
                    <ion-icon name="close-circle-outline" class="close--menu--icon"></ion-icon>
                </div>
                <ul class="nav--list--mobile">
                    <a href="./about.html">
                        <li>about</li>
                    </a>
                    <a href="./speakers.html">
                        <li>speakers</li>
                    </a>
                    <a href="./team.html">
                        <li>team</li>
                    </a>
                    <a href="https://mte-merch.popu.shop/products/" target="_blank">
                        <li>shop</li>
                    </a>
                </ul>
                <div>
                    <a href="https://tix.africa/discover/mte001" target="_blank">
                        <button class="buy--tickets green">buy tickets</button>
                    </a>
                </div>
            </div>
        </nav> 
    </header>
    <h1 class="grid--header">Our Team</h1>
        <p class="grid--text--p">The people working together to make the magic happen</p>
    <section class="marquee">
        <div class="maiden--edition blue">
            <span>leaders</span>
            <span>problem solvers</span>
            <span class="no--display--tablet">dedicated</span>
            <span>creative</span>
            <span>active listeners</span>
            <span class="no--display--mobile">honest</span>
            <span class="no--display--mobile">cool</span>
        </div>
        <div class="maiden--edition green">
            <span>leaders</span>
            <span>problem solvers</span>
            <span class="no--display--tablet">dedicated</span>
            <span>creative</span>
            <span>active listeners</span>
            <span class="no--display--mobile">honest</span>
            <span class="no--display--mobile">cool</span>
        </div>
       </section>
    <section class="grid--section">
        <div class="grid--layout">
            <section class="team--row">
            <div class="team--details">
                <img src="../Image/Team/Ibrahim.png" alt="">
                <div class="team--member">
                    <a href="https://linkedin.com/in/ibrahimosalami" target="_blank">
                        <div class="linkedin--logo">
                            <ion-icon name="logo-linkedin" class="team--linkedin"></ion-icon>
                        </div>
                    </a>
                    <h3>Ibrahim Salami</h3>
                    <p>Co-covener</p>
                </div>
            </div>
            <div class="team--details">
                <img src="../Image/Team/Fawzyyah.PNG" alt="">
                <div class="team--member">
                    <a href="https://linkedin.com/in/adetutudanmole" target="_blank">
                        <div class="linkedin--logo">
                            <ion-icon name="logo-linkedin" class="team--linkedin"></ion-icon>
                        </div>
                    </a>
                    <h3>fawzyyah danmole</h3>
                    <p>Programs Manager</p>
                </div>
            </div>
            <div class="team--details">
                <img src="../Image/Team/Firdaos.PNG" alt="">
                <div class="team--member">
                    <a href="https://linkedin.com/in/fridaos-dosunmu" target="_blank">
                        <div class="linkedin--logo">
                            <ion-icon name="logo-linkedin" class="team--linkedin"></ion-icon>
                        </div>
                    </a>
                    <h3>Firdaos dosunmu</h3>
                    <p>Lead, Social Media</p>
                </div>
            </div>
            <div class="team--details">
                <img src="../Image/Team/Ayomide.PNG" alt="">
                <div class="team--member">
                    <a href="https://linkedin.com/in/olorunnishola-ayomide" target="_blank">
                        <div class="linkedin--logo">
                            <ion-icon name="logo-linkedin" class="team--linkedin"></ion-icon>
                        </div>
                    </a>
                    <h3>Olorunnishola ayomide akanji</h3>
                    <p>Motion Designer</p>
                </div>
            </div>
            <div class="team--details">
                <img src="../Image/Team/Muhammad.png" alt="">
                <div class="team--member">
                    <a href="https://linkedin.com/in/muhammad-oladosu-3790791b2" target="_blank">
                        <div class="linkedin--logo">
                            <ion-icon name="logo-linkedin" class="team--linkedin"></ion-icon>
                        </div>
                    </a>
                    <h3>oladosu muhammad al-bashir</h3>
                    <p>Junior Project Manager</p>
                </div>
            </div>
            <div class="team--details">
                <img src="../Image/Team/fareedah.png" alt="">
                <div class="team--member">
                    <div class="team--member">
                        <a href="https://linkedin.com/in/fareedah-animasaun-49251bb2" target="_blank">
                            <div class="linkedin--logo">
                                <ion-icon name="logo-linkedin" class="team--linkedin"></ion-icon>
                            </div>
                        </a>
                    <h3>fareedah animasaun</h3>
                    <p>Content Writer</p>
                </div>
                </div>
            </div>
            <div class="team--details">
                <img src="../Image/Team/Aisha_A.png" alt="">
                <div class="team--member">
                    <a href="https://www.linkedin.com/in/aishaanimashaun" target="_blank">
                        <div class="linkedin--logo">
                            <ion-icon name="logo-linkedin" class="team--linkedin"></ion-icon>
                        </div>
                    </a>
                    <h3>aisha animashaun</h3>
                    <p>Content Writer</p>
                </div>
            </div>
        </section>
        <section class="team--row one">
            <div class="team--details">
                <img src="../Image/Team/abdulsobur.png" alt="">
                <div class="team--member">
                    <a href="https://linkedin.com/in/abdulsobur1" target="_blank">
                        <div class="linkedin--logo">
                            <ion-icon name="logo-linkedin" class="team--linkedin"></ion-icon>
                        </div>
                    </a>
                    <h3>Abdulraheem AbdulSobur</h3>
                    <p>Co-covener</p>
                </div>
            </div>
            <div class="team--details">
                <img src="../Image/Team/abdulrahman.png" alt="">
                <div class="team--member">
                    <a href="https://linkedin.com/in/abdulrahman-solanke" target="_blank">
                        <div class="linkedin--logo">
                            <ion-icon name="logo-linkedin" class="team--linkedin"></ion-icon>
                        </div>
                    </a>
                    <h3>Abdulrahman Solanke</h3>
                    <p>Lead, Sponsorship and Partnership</p>
                </div>
            </div>
            <div class="team--details">
                <img src="../Image/Team/rahma.png" alt="">
                <div class="team--member">
                    <a href="https://linkedin.com/in/rahma-olaniyan" target="_blank">
                        <div class="linkedin--logo">
                            <ion-icon name="logo-linkedin" class="team--linkedin"></ion-icon>
                        </div>
                    </a>
                    <h3>rahma Olaniyan</h3>
                    <p>Lead, Logistics & Backend Developer</p>
                </div>
            </div>
            <div class="team--details">
                <img src="../Image/Team/aikonni.png" alt="">
                <div class="team--member">
                    <a href="https://linkedin.com/in/aikonni" target="_blank">
                        <div class="linkedin--logo">
                            <ion-icon name="logo-linkedin" class="team--linkedin"></ion-icon>
                        </div>
                    </a>
                    <h3>Nurudeen Akanni</h3>
                    <p>Illustrator & Motion Designer</p>
                </div>
            </div>
            <div class="team--details">
                <img src="../Image/Team/yunus.png" alt="">
                <div class="team--member">
                    <a href="https://linkedin.com/in/yunus-ibrahim" target="_blank">
                        <div class="linkedin--logo">
                            <ion-icon name="logo-linkedin" class="team--linkedin"></ion-icon>
                        </div>
                    </a>
                    <h3>yunus ibrahim</h3>
                    <p>Sponsorship and Partnership</p>
                </div>
            </div>
        </section>
        <section class="team--row">
            <div class="team--details">
                <img src="../Image/Team/Abdulsalam.PNG" alt="">
                <div class="team--member">
                    <a href="https://linkedin.com/in/abdulsalam-akinlusi" target="_blank">
                        <div class="linkedin--logo">
                            <ion-icon name="logo-linkedin" class="team--linkedin"></ion-icon>
                        </div>
                    </a>
                    <h3>Abdulsalam akinlusi</h3>
                    <p>Lead Co-ordinator</p>
                </div>
            </div>
            <div class="team--details">
                <img src="../Image/Team/Tawakalt.PNG" alt="">
                <div class="team--member">
                    <a href="https://linkedin.com/in/tawakaltowolarafe" target="_blank">
                        <div class="linkedin--logo">
                            <ion-icon name="logo-linkedin" class="team--linkedin"></ion-icon>
                        </div>
                    </a>
                    <h3>tawakalt owolarafe</h3>
                    <p>Lead, Welfare</p>
                </div>
            </div>
            <div class="team--details">
                <img src="../Image/Team/Sodiq.png" alt="">
                <div class="team--member">
                    <a href="https://linkedin.com/in/sodiq-zakariyah" target="_blank">
                        <div class="linkedin--logo">
                            <ion-icon name="logo-linkedin" class="team--linkedin"></ion-icon>
                        </div>
                    </a>
                    <h3>sodiq zakariyah</h3>
                    <p>Financial Analyst</p>
                </div>
            </div>
            <div class="team--details">
                <img src="../Image/Team/Hassanat.png" alt="">
                <div class="team--member">
                    <a href="https://linkedin.com/in/hassanat-busari" target="_blank">
                        <div class="linkedin--logo">
                            <ion-icon name="logo-linkedin" class="team--linkedin"></ion-icon>
                        </div>
                    </a>
                    <h3>hassanat busari</h3>
                    <p>Frontend Developer</p>
                </div>
            </div>
            <div class="team--details">
                <img src="../Image/Team/abdulbasit.png" alt="">
                <div class="team--member">
                    <a href="https://linkedin.com/in/abdulbasitabdusalam" target="_blank">
                        <div class="linkedin--logo">
                            <ion-icon name="logo-linkedin" class="team--linkedin"></ion-icon>
                        </div>
                    </a>
                    <h3>abdulbasit Abdulsalam</h3>
                    <p>Content Writer</p>
                </div>
            </div>
        </section>
        <section class="team--row one">
            <div class="team--details">
                <img src="../Image/Team/abdullah.png" alt="">
                <div class="team--member">
                    <a href="https://linkedin.com/in/abdullah-mumuni" target="_blank">
                        <div class="linkedin--logo">
                            <ion-icon name="logo-linkedin" class="team--linkedin"></ion-icon>
                        </div>
                    </a>
                    <h3>abdullah mumuni</h3>
                    <p>Lead Project Manager</p>
                </div>
            </div>
            <div class="team--details">
                <img src="../Image/Team/Toyyibah.png" alt="">
                <div class="team--member">
                    <a href="https://linkedin.com/in/toyyibah-akinlusi-b4527523a" target="_blank">
                        <div class="linkedin--logo">
                            <ion-icon name="logo-linkedin" class="team--linkedin"></ion-icon>
                        </div>
                    </a>
                    <h3>toyyibah akinlusi</h3>
                    <p>Lead, Content Writing</p>
                </div>
            </div>
            <div class="team--details">
                <img src="../Image/Team/koiki.png" alt="">
                <div class="team--member">
                    <a href="https://linkedin.com/in/oladapo-koiki-241b16152" target="_blank">
                        <div class="linkedin--logo">
                            <ion-icon name="logo-linkedin" class="team--linkedin"></ion-icon>
                        </div>
                    </a>
                    <h3>Khalid koiki</h3>
                    <p>Brand Identity & UI Designer</p>
                </div>
            </div>
            <div class="team--details">
                <img src="../Image/Team/Haneefah.png" alt="">
                <div class="team--member">
                    <a href="https://linkedin.com/in/haneefah-abdurrahman-lekki" target="_blank">
                        <div class="linkedin--logo">
                            <ion-icon name="logo-linkedin" class="team--linkedin"></ion-icon>
                        </div>
                    </a>
                    <h3>Haneefah Abdurrahman Lekki</h3>
                    <p>Sponsorship and Partnership</p>
                </div>
            </div>
            <div class="team--details">
                <img src="../Image/Team/aishat.png" alt="">
                <div class="team--member">
                    <a href="https://linkedin.com/in/aishat-lawal-olanipekun-9aab68195" target="_blank">
                        <div class="linkedin--logo">
                            <ion-icon name="logo-linkedin" class="team--linkedin"></ion-icon>
                        </div>
                    </a>
                    <h3>aishat lawal olanipekun</h3>
                    <p>Content Writer</p>
                </div>
            </div>
        </section>
    </div>
    </section>
    <div class="got--questions">
        <p class="got--questions--text">
            Got questions? Send us an <a href="mailto:muslimtechexpo@gmail.com" style="text-decoration: underline; color: #FFFFFF;">email</a>. 
        </p>
       </div>
       <footer class="footer">
        <div class="footer--top">
            <aside class="footer--top--left" style="color: #6D6D6D;">
                <div class="mte--footer--logo">
                    <div>
                        <img src="../Image/MUSLIM small.svg" alt="">
                    </div>
                    <div>
                        <img src="../Image/TECH small.svg" alt="">
                        <img src="../Image/EXPO small.svg" alt="" style="margin-left: 10px;">
                    </div>
                </div>
            </aside>
            <div>
                <a href="https://tix.africa/discover/mte001" target="_blank">
                    <button class="buy--tickets green">buy tickets</button>
                </a>
            </div>
            <aside class="footer--top--right">
                <div class="become--volunteer">
                    <a href="https://muslimtechbytes.substack.com" target="_blank">
                        <p>Subscribe to our newsletter</p>
                    </a>
                    <a href="https://tally.so/r/3XoJvd" target="_blank">
                        <p>Become a sponsor</p>
                    </a>
                </div>
                <div class="footer--list">
                    <a href="./team.html">
                        <p>Team</p>
                    </a>
                    <a href="./FAQ.html">
                        <p>FAQs</p>
                    </a>
                </div>
            </aside>
        </div>
        <hr>
        <div class="footer--bottom">
            <div class="footer--bottom--left">
                <p>Powered by: </p> 
                <div>
                    <img src="../Image/barn--logo.png" alt="">
                </div>
            </div>
            <div class="copyright--text">
                <p>Copyright &copy; 2023 Muslim Tech Expo</p>
                <p>All rights reserved</p>
            </div>
            <div class="footer--bottom--logos">
                <a href="https://instagram.com/muslimtechexpo?igshid=MzRlODBiNWFlZA=="  target="_blank">
                    <div class="instagram--logo">
                        <ion-icon name="logo-instagram"></ion-icon>
                    </div>
                </a>
                <a href="https://www.linkedin.com/company/muslim-tech-expo/"  target="_blank">
                    <div class="linkedIn--logo">
                        <ion-icon name="logo-linkedin"></ion-icon>
                    </div>
                </a>
              <a href="https://twitter.com/muslimtechexpo?s=21&t=KfzMaFQ4IrAtkb14UKtV6g"  target="_blank">
                <div class="twitter--logo">
                    <ion-icon name="logo-twitter"></ion-icon>
                </div>
              </a>
              <a href="https://www.tiktok.com/@muslimtechexpo">
                  <div class="tiktok--logo">
                      <ion-icon name="logo-tiktok"></ion-icon>
                  </div>
              </a>
                <a href="https://www.youtube.com/channel/UCr6B9ytPxQomKGckCEOhrXQ">
                    <div class="youtube--logo">
                        <ion-icon name="logo-youtube"></ion-icon>
                    </div>
                </a>
            </div>
        </div>
       </footer>
       <script src="../script.js"></script>
       <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>
